#contenedor{
    text-align: center;
    padding: 10px;
    overflow:hidden;
}
#izquierda{
    text-align: justify;
    float:left;
    padding: 10px;
    color:rgb(0, 0, 0);
    width: 400px;
    height: 400px;
    margin: 100px;
    border: 1px solid red;
    border-radius: 100%;
    text-align: center;
    
}
#derecha{
    text-align: justify;
    float:right;
    padding: 10px;
    color:rgb(0, 0, 0);
    width: 400px;
    height: 400px;
    margin: 100px;
    border: 1px solid red;
    text-align: center;
    border-radius: 100%;
}