body{
    background: url(/Codigo/Css/Imagenes/imagen_fondo3.jpg);
    background-size: 100%;
    background-repeat: no-repeat;   /* para que no se repita la imagen  */ 
    margin: 0;
}
.contenedor {
    width: 85%;
    max-width: 850px;
    margin: 0 auto;
}

.header {
    background: #FFAFAF ; 
    color: white; /*color del texto*/ 
    padding: 0px;  /*tamanio del menu*/


    /*para que se quede estaico al bajar la pagina*/
    position: fixed;
    left: 0px;
    top: 0;
    width: 100%;   /* o wigth: 0; */
}


.header a {
    color:  white;
    text-decoration: none;
}

.logo-nav-contenedor {
    display: flex;
    justify-content:flex-start ;
    align-items: center;
}
.navegacion ul{ 
    margin: 0;
    padding: 0;
    list-style: none;    

}

.logo{
    background: url(/Codigo/HTML/ImagenesProyecto/logoLael1.png);
    width: 100px;     /*ancho del cuadro de la imagen*/
    height: 50px;    /*alto del cuadro de la imagen*/
    margin-top: 35px;
    margin-bottom: 35px;
    background-repeat: no-repeat;
    display: block;
}

.navegacion ul li{
    display: inline-block;
}
.navegacion ul li a {
    display: block;
    padding: 0.5rem 1rem;   /*tamaño del borde al colocar el cursor*/
    transition: all 0.5s linear;
    border-radius: 5px;
    font-size: 100%;  /* tamanio de la letra del menu*/
}

.navegacion ul li a:hover {
    background: #D47AE8;
}


.footer {
    background: aqua;
    padding: 4%;
    text-align: center;
    margin-top: 6rem;
}

.main {
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-column: span 2;
    gap: 1em;
    width: 90%;
    max-width: 900px;
    margin: auto;
    height:  100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap-reverse;
    position: static;
    grid-template-columns: repeat(2, 1fr);
 }
 .tabla {
    width:  30%;
    height: 550 px;
    margin: 10px;
    border:  1px solid teal;  /*borde de los cuadros */ 
    border-radius: 100%;
    box-shadow: 10px 0px 4px 0px violet;
    padding: 60px;
    text-align: center;
    flex-grow: 1;
    position: initial;
 }