
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
}

.header {
  grid-area: header;
  display: grid;
  grid-template-rows: minmax(75px, auto); 
   /*para que se quede estaico al bajar la pagina*/
   position: fixed;
   left: 0px;
   top: 0;
   width: 100%;   

}

.menu {
  display: grid;
  background-color: #D47AE8;
  grid-template-columns: 30% 40% 30%;
  column-gap: 1em;
}

.navegacion {
  display: grid;
  background-color: #D47AE8;
  grid-template-columns: 25% 25% 25% 25% ;
  justify-items: center;
  align-items: center;
  
} 


.navegacion  div a {
  text-decoration: none;
  display: block;
  font-style: normal;    /*tipo de letra*/ 
  padding: 0.5rem 1rem;   /*tamaño del borde al colocar el cursor*/
  transition: all 0.2s linear;
  border-radius: 10px;
  font-size: 110%;  /* tamanio de la letra del menu*/
} 

.navegacion  div a:hover {
  background-color: #eb8cc6;
} 

.logo  a{
  display: grid;
  justify-items: end;
  margin-top: 10PX;
  background-repeat: no-repeat;
  
} 

.social-networks {
  display: grid;
  background-color:#D47AE8;
  grid-template-columns: 33% 33% 33%  ;
  justify-items: end;
  align-items: center;
  
} 

.social-networks a {
  display: inline-flex;
  color: #ffffff;
  height: 48px;
  width: 48px;
  background-color: #000000;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border-radius: 50%;
  margin: 0 6px;
  transition: transform 0.4s;
}

.social-networks a:hover {
  transform: scale(1.3);
}

.social-networks a.facebook {
  background-color: #3c70a4;
}
.social-networks a.instagram {
  background-color: #bb7171;
} 



.main {
  grid-area: main;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto auto;
  gap: 1em;
}
.main > .contenido:hover{
  background-color: #bb7171;
  padding: auto;   /*tamaño del borde al colocar el cursor*/
  transition: all 0.2s linear;
  border-radius: 5px;
   
}

.contenido {
 display: grid;
 background-color: lavender;
 border-radius: 5px;
 border: 1px solid rgb(0, 0, 0);
 padding: 10px;
}

h2 {
  text-align: center;
  margin: 20px;
  font-size: 150% ;
}

p {
  text-align: center;
  margin: 20px;
  font-size: 100% ;
}

.contenido div {
  text-align: center;
}


.footer {
  grid-area: footer;
  background-color: #8c96a0;
  
}



.grid-container {
  display: grid;
  row-gap: 10px;
  grid-template:
    "header"  75px
    "navbar"  10px
    "main"    auto
    "sidebar" 10px
    "footer"  100px;
}

@media (min-width: 900px ) {
  .grid-container {
    grid-template:
      "header  header header"  75px
      "navbar  main   sidebar" auto
      "footer  footer footer"  100px /
      250px    auto   250px;
  }
}


