#container{
    width: 700px;
    height: 470px;
    border: 1px solid black;
    margin: 0px auto;
    border-radius: 2em;
    box-shadow: 10px 10px 10px #000;
}
h1{
    text-align: center;
    text-shadow: 2px 2px 7px #fff;
}
h2{
    text-align: center;
    text-shadow: 2px 2px 7px #fff;
}
.caja1{
    display:block;
    position: relative;
    width: 700px;
    background-image: url("/Codigo/HTML/ImagenesProyecto/87815.jpg");
    opacity: .3;
    top: -129px;
    height: 470px;
    margin: 0px auto;
    border-radius: 2em;
}
.caja2{
    display:block;
    position: relative;
    width: 700px;
    top: -360px;
    height: 470px;
    margin: 0px auto;
    border-radius: 2em;
}
form{
    margin: 0px auto;
    display: block;
    width: 700px;
    /*border: 1px solid black;*/
    text-align:justify;
}