body{
     background: url(../HTML/ImagenesProyecto/imagen_fondo3.jpg);
     background-size: 100%;
     /*background-repeat: no-repeat;   /* para que no se repita la imagen  */ 
    margin: 0;
    
}
.contenedor {
    width: 85%;
    max-width: 850px;
    margin: 0 auto;
}

.header {
    background: #fd9999 ; 
    color: white; /*color del texto*/ 
    padding: 0px;  /*tamanio del menu*/


    /*para que se quede estaico al bajar la pagina*/
    position: relative;
    left: 0px;
    top: 0;
    width: 100%;   /* o wigth: 0; */
}


.header a {
    color:  rgb(30, 3, 36);
    text-decoration: none;
}

.logo-nav-contenedor {
    display: flex;
    justify-content:flex-start ;
    align-items: center;
}
.navegacion ul{ 
    margin: 0;
    padding: 0;
    list-style: none;    

}

.logo{
    background: url(/Codigo/HTML/ImagenesProyecto/LogoCompletoLAEL.png);
    width: 200px;     /*ancho del cuadro de la imagen*/
    height: 50px;    /*alto del cuadro de la imagen*/
    margin-top: 35px;
    margin-bottom: 35px;
    background-repeat: no-repeat;
    display: block;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.navegacion ul li{
    display: inline-block;
}
.navegacion ul li a {
    display: block;
    padding: 0.5rem 1rem;   /*tamaño del borde al colocar el cursor*/
    transition: all 0.5s linear;
    border-radius: 5px;
    font-size: 130%;  /* tamanio de la letra del menu*/
}

.navegacion ul li a:hover {
    background: #D47AE8;
}

.main {
    font-size: 150%;
    text-align: center;
    margin-top: 1rem;
}

.footer {
    background: rgb(219, 167, 243);
    padding: 4%;
    text-align: center;
    margin-top: 6rem;
}

.marquesina{
    width: 1200px;
    height: 300px;
    border: 2px solid rgb(185, 94, 155);
    display: block;
    margin: auto;
}

.textoPrincipal{
    width: 1000px;
    height: 300px;
    display: block;
    margin: auto;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.imagenPrincipal{
    width: 1000px;
    height: 310px;
    display: block;
    margin: auto;
}

.grid {
    display: grid;
    grid-template-columns: 700px 500px;
    grid-template-rows: 90px 100px;
    gap: 20px 50px;
    display: block;
}

.content1 {
    color:  rgb(1, 11, 24); 
    background: #f5b45f ;  
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.content2 {
    color:  rgb(54, 3, 48); 
    background: #f1ef61 ;  
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.content3 {
    color:  rgb(28, 3, 44); 
    background: #83f374 ;  
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.content4 {
    color:  rgb(10, 1, 1); 
    background: #ac4fd6 ;  
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}