body{
     /*background: url(imagen_fondo3.jpg);
     background-size: 100%;
     /*background-repeat: no-repeat;   /* para que no se repita la imagen  */ 
    margin: 0;
}
.contenedor {
    width: 85%;
    max-width: 850px;
    margin: 0 auto;
}

.header {
    background: #FFAFAF ; 
    color: white; /*color del texto*/ 
    padding: 0px;  /*tamanio del menu*/


    /*para que se quede estaico al bajar la pagina*/
    position: fixed;
    left: 0px;
    top: 0;
    width: 100%;   /* o wigth: 0; */
}


.header a {
    color:  white;
    text-decoration: none;
}

.logo-nav-contenedor {
    display: flex;
    justify-content:flex-start ;
    align-items: center;
}
.navegacion ul{ 
    margin: 0;
    padding: 0;
    list-style: none;    

}

.logo{
    background: url(/Codigo/HTML/ImagenesProyecto/logoLael2.jpg);    
    width: 100px;     /*ancho del cuadro de la imagen*/
    height: 50px;    /*alto del cuadro de la imagen*/
    margin-top: 35px;
    margin-bottom: 35px;
    background-repeat: no-repeat;
    display: block;
}

.navegacion ul li{
    display: inline-block;
}
.navegacion ul li a {
    display: block;
    padding: 0.5rem 1rem;   /*tamaño del borde al colocar el cursor*/
    transition: all 0.5s linear;
    border-radius: 5px;
    font-size: 100%;  /* tamanio de la letra del menu*/
}

.navegacion ul li a:hover {
    background: #D47AE8;
}

.main {
    padding-top: 8rem;
}
.footer {
    background: aqua;
    padding: 4%;
    text-align: center;
    margin-top: 6rem;
}